.submit {
    font-size: 16px;
    padding: 6px 10px 6px 10px;
    position: absolute;
    margin-left: -54px;
    bottom: 280px;
    border-radius: 6px;
    border: none;
}

.current-hand-div {
    position: absolute;
    left: 381px;
    text-align: center; 
    margin-top: 556px;
}

.player-2-hand-div {
    margin-left: -66px;
    text-align: center;
    position: absolute;
    top: 262px;
    left: -120px;
    transform: rotate(90deg);
}

.player-3-hand-div {
    margin-left: -66px;
    text-align: center;
    position: absolute;
    top: 35px;
    left: 513px;
    transform: rotate(180deg);
}

.player-4-hand-div {
    margin-left: -66px;
    text-align: center;
    position: absolute;
    top: 329px;
    right: -182px;
    transform: rotate(270deg);
}

.card-div {
    /* display: inline-block; */
    float: left;
    margin-right: -66px;
    cursor: move; /* Sortable JS */
}

.card-image {
    height: 150px;
}

.submitted-play {
    position: absolute;
    top: 305px;
    left: 580px;

}


  
 